{% extends "logistics/base.html" %}
{% load static %}
{% load tz %}

{% block title %}{{ title }} - ВезёмВсё{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'main/css/pages/news.css' %}">
{% endblock %}

{% block content %}
<section id="news-list" aria-labelledby="news-list-title">
    <h1 id="news-list-title">{{ title }}</h1>

    {% if page_obj.object_list %}
                {% for news_item in page_obj.object_list %}
            <article class="news-card{% if forloop.last %} is-last-card{% endif %}">
                {% if news_item.image %}
                    <figure>
                        <a href="{% url 'news_detail' news_id=news_item.id %}">
                            <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
                        </a>
                    </figure>
                {% endif %}

                <div class="card-content">
                    <header>
                        <h2><a href="{% url 'news_detail' news_id=news_item.id %}">{{ news_item.title }}</a></h2>
                    </header>
                    <p class="description">{{ news_item.short_description|truncatewords:15 }}</p>
                    <a href="{% url 'news_detail' news_id=news_item.id %}" class="read-more-btn">Читать далее &rarr;</a>
                </div>
            </article>
        {% endfor %}

        {% if is_paginated %}
            <nav aria-label="Навигация по страницам">
                <ul>
                     {% if page_obj.has_previous %}
                        <li><a href="?page=1{% if params_for_pagination %}&amp;{{ params_for_pagination }}{% endif %}">&laquo; Первая</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}{% if params_for_pagination %}&amp;{{ params_for_pagination }}{% endif %}">Предыдущая</a></li>
                    {% else %}
                        <li><span>&laquo; Первая</span></li>
                        <li><span>Предыдущая</span></li>
                    {% endif %}

                    <li>
                        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}{% if params_for_pagination %}&amp;{{ params_for_pagination }}{% endif %}">Следующая</a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}{% if params_for_pagination %}&amp;{{ params_for_pagination }}{% endif %}">Последняя &raquo;</a></li>
                    {% else %}
                         <li><span>Следующая</span></li>
                        <li><span>Последняя &raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>На данный момент новостей нет.</p>
    {% endif %}

    <nav aria-label="Хлебные крошки">
        <a href="{% url 'home_page' %}">На главную</a>
    </nav>
</section>
{% endblock %}